
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: fooddelivery
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3307:3306"
    expose:
      - "3306"

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/fooddelivery
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=123456
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db

volumes:
  db_data: